<header class="header">
   <div class="container header__wrapper">
      <div class="logo header__logo">
         <img src="img/logo.svg" alt="logo">
      </div>
      <nav>
         <ul class="list-reset header__menu">
            <li class="header__item">
               <a href="#" class="header__link">
                  главная
               </a>
            </li>
            <li class="header__item">
               <a href="#" class="header__link">
                  Каталог продукции
               </a>
            </li>
            <li class="header__item">
               <a href="#" class="header__link">
                  подбор программы
               </a>
            </li>
         </ul>
      </nav>
   </div>
</header>