<section class="main">
   <div class="container main__wrapper">
      <div class="main__content">
         <h1 class="title general--title main__title">Функциональное питание для котов</h1>
         <p class="title subtitle main__subtitle">Занялся собой? Займись котом!</p>
         <button class="btn-reset btn btn__main">подобрать программу</button>
      </div>
      <div class="main__picture">
         <img src="img/header-food.png" alt="food" class="main__food">
      </div>
      <img src="img/header-bg.png" alt="background" class="main__bg">
   </div>
</section>