<section class="maps">
   <div class="container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.611561003777!2d30.321781395998094!3d59.93858749715143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631f6df7d3481%3A0xc0016be317f9a6fd!2sCat%20Energy!5e0!3m2!1suk!2sua!4v1656770621360!5m2!1suk!2sua" class="maps__iframe" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div class="maps__nav location">
         <div class="location__block">
            <p class="title subtitle location__subtitle">приглашаем к сотрудничеству дилеров!</p>
         </div>
         <div class="location__block">
            <div class="location__street">ул. Большая Конюшенная, д. 19/8</div>
            <div class="location__city">Санкт-Петербург</div>
         </div>
      </div>
   </div>
</section>